@page "/systemaccounts"
@using Microsoft.AspNetCore.Components.QuickGrid
@using Models
@using Repository
@inject IAccountRepo AccountRepo

<PageTitle>System Accounts</PageTitle>

<h1>System Accounts</h1>

<p>
    <a href="systemaccounts/create">Create New</a>
</p>

<QuickGrid Class="table" Items="@(accounts.AsQueryable())">
    <PropertyColumn Property="account => account.AccountName" />
    <PropertyColumn Property="account => account.AccountEmail" />
    <PropertyColumn Property="account => account.AccountRole" />
    <PropertyColumn Property="account => account.AccountPassword" Title="Password (Hashed)" />

    <TemplateColumn Context="account">
        <a href="@($"systemaccounts/edit?accountid={account.AccountId}")">Edit</a> |
        <a href="@($"systemaccounts/details?accountid={account.AccountId}")">Details</a> |
        <a href="@($"systemaccounts/delete?accountid={account.AccountId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private IEnumerable<SystemAccount> accounts = Array.Empty<SystemAccount>();

    protected override void OnInitialized()
    {
        // Get all accounts from the repository
        accounts = AccountRepo.GetAllAccounts();
    }
}