@page "/systemaccounts/details"
@using Models
@using Repository
@inject IAccountRepo AccountRepo
@inject NavigationManager NavigationManager

<PageTitle>Account Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>System Account</h2>
    <hr />
    @if (account is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@account.AccountName</dd>
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@account.AccountEmail</dd>
            <dt class="col-sm-2">Role</dt>
            <dd class="col-sm-10">@account.AccountRole</dd>
        </dl>
        <div>
            <a href="@($"/systemaccounts/edit?accountid={account.AccountId}")">Edit</a> |
            <a href="/systemaccounts">Back to List</a>
        </div>
    }
</div>

@code {
    private SystemAccount? account;

    [SupplyParameterFromQuery]
    private int AccountId { get; set; }

    protected override void OnInitialized()
    {
        account = AccountRepo.GetAccountById(AccountId);

        if (account is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}