@page "/newsarticles"
@using Microsoft.AspNetCore.Components.QuickGrid
@using Models
@using Repository
@inject INewsArticleRepo NewsArticleRepo

<PageTitle>News Articles</PageTitle>

<h1>News Articles</h1>

<p>
    <a href="newsarticles/create">Create New</a>
</p>

<QuickGrid Items="@(newsArticles.AsQueryable())">
    <PropertyColumn Property="article => article.NewsTitle" Title="Title" />
    <PropertyColumn Property="article => article.Headline" Title="Headline" />
    <PropertyColumn Property="article => article.CreatedDate" Title="Created Date" Format="MM/dd/yyyy" />
    <PropertyColumn Property="article => article.NewsStatus" Title="Status" />
    <PropertyColumn Property="article => article.Category.CategoryName" Title="Category" />

    <TemplateColumn Title="Actions">
        <a href="@($"newsarticles/edit?newsarticleid={context.NewsArticleId}")">Edit</a> |
        <a href="@($"newsarticles/details?newsarticleid={context.NewsArticleId}")">Details</a> |
        <a href="@($"newsarticles/delete?newsarticleid={context.NewsArticleId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private IEnumerable<NewsArticle> newsArticles = Array.Empty<NewsArticle>();

    protected override void OnInitialized()
    {
        // Get all news articles from the repository
        newsArticles = NewsArticleRepo.GetAllNewsArticles();
    }
}