@page "/categories"
@using Microsoft.AspNetCore.Components.QuickGrid
@using Models
@using Repository
@inject ICategoryRepo CategoryRepo

<PageTitle>Categories</PageTitle>

<h1>Categories</h1>

<p>
    <a href="categories/create">Create New</a>
</p>

<QuickGrid Items="@(categories.AsQueryable())">
    <PropertyColumn Property="category => category.CategoryName" Title="Category Name" />
    <PropertyColumn Property="category => category.CategoryDesciption" Title="Description" />
    <PropertyColumn Property="category => category.ParentCategoryId" Title="Parent ID" />
    <PropertyColumn Property="category => category.IsActive" Title="Active" />

    <TemplateColumn Title="Actions">
        <a href="@($"categories/edit?categoryid={context.CategoryId}")">Edit</a> |
        <a href="@($"categories/details?categoryid={context.CategoryId}")">Details</a> |
        <a href="@($"categories/delete?categoryid={context.CategoryId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private IEnumerable<Category> categories = Array.Empty<Category>();

    protected override void OnInitialized()
    {
        categories = CategoryRepo.GetAllCategories();
    }
}